.odd {
  background-color: #FFB6C1FF;
  font-family: Verdana, "Deja Vu Sans", sans-serif;
}

.even {
  font-family: Verdana, "Deja Vu Sans", sans-serif;
}

#second {
  color: #0000FFFF;
  font-size: 36px;
}

.third {
  font-size: 24px;
}

#fourth {
  background-color: #90EE90FF;
  font-size: 24px;
  font-weight: bold;
}